<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CentreSports</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <!-- CenterSport Logo -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index">
            <img src="/images/trophy.png" alt="" width="30" height="25" class="d-inline-block align-top">
            AllSports
          </a>
        </div>
      </nav>
      <!-- End of CenterSport Logo -->

    <!-- Navbar -->
    <!-- End of Navbar -->
   
    <!-- Text Card -->
    <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="text-container">
                                    <p style="font-size: 6rem; font: bolder;">All Your Sports</p>
                                    </br>
                                    <p style="font: bolder; font-size: 2rem;">All Your Scores</p>
                                    </br>
                                    <p style="font: bolder; font-size: 1rem;">One destination to find information about your favorite games</p>
                                </div>
                            </div>
                        </div>
                </div>  
    <!-- End of text card -->
    <!-- Selection Card -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="text-container">
                                    <p style="font: bolder; font-size: 3rem;">Get Started</p>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-6" ><a href="/cricket"><img src="/images/cricket.png" class="options" alt="cricket.png">Cricket</a></div>
                                                <div class="col-lg-6"><a href="/basketball"><img src="/images/basketball.png" class="options" alt="basketball.png">Basketball</a></div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-6" ><a href=""><img src="/images/american-football.png" class="options" alt="football.png">Football</a></div>
                                                <div class="col-lg-6"><a href="/soccer"><img src="/images/football.png" class="options" alt="soccer.png">Soccer</a></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of selection card -->
</body>
</html>