<!DOCTYPE html>
<head>
    <script>
        console.log(data);
    </script>
</head>
<body>
    <a href='soccer/matches'><button >Recent Matches</button></a>
    <table>
            <% for(var key of Object.keys(data['competitions'])){ %>
                <% if(data['competitions'][key]['plan']=='TIER_ONE'){ %>
                    <tr>
                        <td>
                            <%= data['competitions'][key]['name'] %>
                        </td>
                        <td>
                            <%= data['competitions'][key]['id'] %>
                        </td>
                        <td>
                            <%= data['competitions'][key]['area']['name'] %>
                        </td>
                        <form action="/matches" method="POST">
                            <input type="hidden" name="competitionsId" value="<%= data['competitions'][key]['id'] %> ">
                            <td>
                                <td><a href="#" ><button class="btn-primary" style="border-radius: 10px;">GO</button></a></td>
                            </td>
                        </form>
                    </tr>
                </a>
                <% } %> 
            <% } %> 
    </table>
</body>